{% extends "base.html" %}

{% block content %}
<h2 class="underline">Create Assessment Result</h2>
<p>Complete the form below to create an assessment result. Assessment results can be any result ranging from class tests to term and final year results.</p>


{% for error in form.non_field_errors %}
    <p><a>{{ error|safe }}</a></p>
{% endfor %}

<form class="label-top" method="post" action="{% url create_assessment_result %}">
    {% csrf_token %}

    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {% for error in field.errors %}
                <label><a>{{ error }}</a></label><br />
            {% endfor %}
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Save" />
</form>

{% endblock %}
